<div class="main-wrapper">
    <div class="main-header">
        HOME
    </div>
    <div class="content">
        
        <div class="welcome-text">
            What would you want to see?
        </div>
        <div class="section-tile1">
            {{#link-to 'trips'}}
                <img src="assets/images/airplane.png" alt="should be fu*r" />
            {{/link-to}}
        </div>
        <div class="section-tile2">
            {{#link-to 'photos'}}
                <img src="assets/images/camera1.png" alt="should be fu*r" />
            {{/link-to}}
        </div>
        <div class="section-tile3">
            {{#link-to 'stats'}}
                <img src="assets/images/stats.png" alt="should be fu*r" />
            {{/link-to}}
        </div>
        <div class="section-tile-text1">
            Trips    
        </div>
        <div class="section-tile-text2">
            Photos
        </div>
        <div class="section-tile-text3">
            Stats
        </div>
    </div>
</div>